* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Arial;
  src: url("../../assets/fonts/Arial-Rounded.woff2");
}

.container {
  width: 100%;
  height: 100vh;
  max-height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  z-index: 9999999;
  padding: 50px;


  .main {
    width: 480px;
    padding: 32px;
    border-radius: 6px;
    background: var(--white, #fff);
    display: flex;
    flex-direction: column;
    gap: 24px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: auto;
    height: 80vh;
    max-height: 800px;

    .titleMain {
      color: var(--black, #000112);
      font-family: Arial, sans-serif;
      font-size: 18px;
      font-weight: 700;
    }

    .title {
      color: var(--medium-grey, #828fa3);
      font-family: Arial, sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 8px;
    }

    .input {
      width: 416px;
      border-radius: 4px;
      border: 1px solid rgba(130, 143, 163, 0.25);
      background: var(--white, #fff);
      padding: 8px 16px 9px 16px;
      margin-top: 8px;
    }

    .btn {
      font-family: Arial, sans-serif;
      font-size: 20px;
      font-weight: 500;
      color: #828fa3;
      border: none;
      outline: none;
      background-color: none;
      transition: all 0.1s;

      &:active {
        transform: scale(0.98);
      }
    }

    .subtasksItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
    }

    .createBtn {
      padding: 8px 0;
      width: 100%;
      color: var(--main-purple, #635fc7);
      text-align: center;
      font-family: Arial, sans-serif;
      font-size: 13px;
      font-weight: 700;
      line-height: 23px;
      border-radius: 20px;
      background: rgba(99, 95, 199, 0.1);
      margin-top: 12px;
      transition: all 0.1s;

      &:active {
        transform: scale(0.98);
      }
    }

    .createTask {
      padding: 8px 0;
      color: var(--main-purple, #fff);
      text-align: center;
      font-family: Arial, sans-serif;
      font-size: 13px;
      font-weight: 700;
      line-height: 23px;
      border-radius: 20px;
      background: var(--main-purple, #635fc7);
      margin-top: 12px;
      transition: all 0.1s;

      &:active {
        transform: scale(0.98);
      }
    }

    textarea {
      resize: none;
    }

    .closeBtn {
      position: fixed;
      right: 20px;
      top: 20px;
      font-size: 14px;
      font-family: Arial, sans-serif;
      font-weight: 300;
      background-color: red;
      color: #fff;
      border-radius: 50%;
      padding: 0px 8px 2px 8px;
      transition: all 0.1s;

      &:active {
        transform: scale(0.98);
      }
    }
  }
  &.dark {
    .main {
      background-color: #2b2c37;
      color: #fff;
      .titleMain {
        color: #fff;
      }
      input,
      textarea,
      select {
        background-color: #2b2c37;
      }
      .createBtn {
        background-color: var(--white, #fff);
      }
    }
  }
}

@media (max-width: 550px) {
  .container {
    .main {
      width: 90%;
      .input {
        width: 100%;
      }
    }
  }
}
