.box {
  width: 90%;
  height: fit-content;
  font-family: var(--font-outfit);

  border-radius: 8px;
  background: var(--white, #fff);
  box-shadow: 0px 4px 6px 0px rgba(158, 168, 189, 0.1);
  margin-top: 20px;
  padding: 16px;
  margin-left: 20px;
  margin-top: 20px;
  margin: auto;
  cursor: pointer;
  transition: all 0.1s;

  &:active {
    transform: scale(0.97);
  }

  .title {
    color: var(--black, #000112);
    /* Heading (M) */
    font-family: var(--font-outfit);
    font-size: 15px;
    font-weight: 700;
  }

  .text {
    font-size: 12px;
    font-weight: 700;
  }

  &.dark {
    border-radius: 8px;
    background: var(--dark-grey, #2B2C37);
    box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.10);

    .title {
      color: #fff;
    }

    .text {
      color: #828FA3;
    }
  }
}

@media (max-width: 400px) {
  .box {
    .title {
      font-size: 13px;
    }
  }
}